<div class="sidebar">
  <div id="user">
    <h1><%= capitalize_all(current_user.name) if current_user %></h1>
    <img src="/pic1.jpeg" alt="profile picture" /> 
    <div class='userinfo'>
      <p> Mensagens: 53 </p> <br>
      <p> Seguidores: 120 </p> <br>
      <p> Seguidos: 40 </p> <br>
      <p> Menções: 12 </p>
    </div>
    <div id='usertags'>
      <p> Principais tags: </p> <br>
      <p id="tags"> Lixo, Trânsito, Sujeira, Segurança, Transporte, Ponte, Roubos, Impostos, Política, Televisão </p>
    </div>
  </div>
  <div id="tagcloud">
  </div>
  <div id="patrocinio">
  </div>
</div>
<div id="content">
  <div id="mainform">
    <form method="post" action="/">
      <textarea id="input" name="input">Type your message here </textarea>
      <input class="submit" type="submit" name="submit" value="Enviar" />
    </form>
    <div id="social">
      <form>
	<input type="checkbox" /> Facebook
	<input type="checkbox" /> Twitter 
	<input type="checkbox" /> Google + 
      </form>
    </div>
  </div>
  <div class="tabs">
    <% selected = Hash.new('') %>
    <% params[:tab] = 'recent' if params[:tab].nil? %>	  
    <% selected[params[:tab]] = 'active' %>
    <a href="?tab=recent" class="<%= selected['recent'] %>">Recent</a>
    <a href="?tab=featured" class="<%= selected['featured'] %>">Featured</a>
  </div>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="message">
	<%= post.message %>
      </div>
      <div class="msgdetails">
	<div class="timestamp">
	  Postado às
	  <%= post.created_at.strftime("%H:%M - %d/%m/%Y") %>
	</div>
	<div id="postowner">
	  por
	  <% u = User.find(post.user_id) if post.user_id %>
	  <%= if u then u.name else "Usuário anônimo" end %>
	</div>
	<div id="likes">
	  <%= if post.likes then post.likes else "0" end %>
	  <form method="post" action="/like">
	    <input type="hidden" name="id" value="<%= post.id %>" />
	    <input type="submit" value="Like" />
	  </form>
	</div>
      </div>
    <% end %>
    <div class="nav">
      <%= paginate @posts %>
    </div>
  </div>
</div>
