<div class="sidebar">
  <div id="user">
    <h1><%= capitalize_all(current_user.name) if current_user %></h1>
    <img src="/" alt="profile picture" /> 
    <div class='userinfo'>
      <p> Mensagens: 53 </p> <br>
      <p> Seguidores: 120 </p> <br>
      <p> Seguidos: 40 </p> <br>
      <p> Menções: 12 </p>
    </div>
    <div id='usertags'>
      <p> Principais tags: </p> <br>
      <p id="tags"> Lixo, Trânsito, Sujeira, Segurança, Transporte, Ponte, Roubos, Impostos, Política, Televisão </p>
    </div>
  </div>
  <div id="tagcloud">
  </div>
  <div id="patrocinio">
  </div>
</div>
<div id="content">
  <div id="mainform">
    <h1> Aqui em <%= City.find(session[:city]).name if session[:city] %> tem... </h1>
    <form method="post" action="/">
      <textarea id="input" name="input">Type your message here </textarea>
      <input class="submit" type="submit" name="submit" value="Enviar" />
    </form>
    <div id="social">
      <form>
	<input type="checkbox" /> Facebook
	<input type="checkbox" /> Twitter 
	<input type="checkbox" /> Google + 
      </form>
    </div>
  </div>
  <div class='citydropdown'>
    <form>
      <select name='city'>
	<% selected_city = Hash.new('') %>
	<% selected_city[session[:city]] = 'selected' %>
	<% @cities.each do |t| %>
	  <option <%= selected_city["#{t.id}"] %> value='<%= t.id %>'> <%= t.name %> </option>
	<% end %>
      </select>
      <input type='submit' value='submit' />
    </form>
  </div>
  <div class="tabs">
    <% selected = Hash.new('') %>
    <% selected[session[:tab]] = 'active' %>
    <a href="?tab=recent" class="<%= selected['recent'] %>">Recent</a>
    <a href="?tab=featured" class="<%= selected['featured'] %>">Featured</a>
  </div>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="message">
	<%= post.message %>
	<div class="msgdetails">
	  <div id="likes">
	    <%= post.likes %>
	    <form method="post" action="/like">
	      <input type="hidden" name="id" value="<%= post.id %>" />
	      <input type="image" src="thumbs_up.png" alt="Like" />
	    </form>
	    <form method="post" action="/dislike">
	      <input type="hidden" name="id" value="<%= post.id %>" />
	      <input type="image" src="thumbs_down.png" alt="Like" />
	    </form>
	    <%= post.dislikes %>
	  </div>
	  <span>
	    Postado às
	    <%= post.created_at.strftime("%H:%M - %d/%m/%Y") %>
	  </span>
	  <span>
	    por
	    <%= post.user ? post.user.name : "Usuário Anônimo" %>
	  </span>
	</div>
      </div>
    <% end %>
    <div class="nav">
      <%= paginate @posts %>
    </div>
  </div>
</div>
