<!DOCTYPE HTML>

<html>
  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'>
    <title> Aqui tem... </title>
  </head>
  <body>
     <div class="topbarparent">
      <div class="topbar">
	<div id="links">
	  <% if current_user.nil? %>
	    <a href='/signup'> cadastro </a>
	    <a href='/login'> login </a>
	  <% else %>
	    <a href='/logout'> sair </a>
	  <% end %>	  
	  <a href="/about"> sobre </a>
	  <a href="/contact"> contato </a> 
	</div>

      <div class='citydropdown'>
	<form>
	  <select name='city'>
	    <% selected_city = Hash.new('') %>
	    <% selected_city[session[:city]] = 'selected' %>
	    <% @cities.each do |t| %>
	      <option <%= selected_city["#{t.id}"] %> value='<%= t.id %>'> <%= t.name %> </option>
	    <% end %>
	  </select>
	  <input type='submit' value='OK' />
	</form>
      </div>

	<div id="search">
	  <form action="/search">
	    <input id="searchbox" name="search" type="text" />
	    <input type="submit" value="Buscar"/>
	  </form>	
	</div>
      </div>
    </div>
    <div class="main clearfix">
      <% unless flash[:success].nil? && flash[:error].nil? && flash[:notice].nil? %>
	<div class='flash'>
	  <% unless flash[:success].nil? %>
	    <div class="flashsuccess">
	      <%= flash[:success] %>
	    </div>
	  <% end %>
	  <% unless flash[:error].nil? %>
	    <div class="flashserror">
	      <%= flash[:error] %>
	    </div>
	  <% end %>
	  <% unless flash[:notice].nil? %>
	    <div class="flashnotice">	
	      <%= flash[:notice] %>
	    </div>
	  <% end %>
	</div>
      <% end %>
      <%= yield %>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
