<% @posts.each do |post| %>
  <div class="message">
    <%= post.message %>
    <div class="msgdetails">
      <div id="likes">
	<%= post.likes %>
	<form method="post" action="/like">
	  <input type="hidden" name="id" value="<%= post.id %>" />
	  <input type="image" src="thumbs_up.png" alt="Like" />
	</form>
	<form method="post" action="/dislike">
	  <input type="image" src="thumbs_down.png" alt="Like" />
	</form>
	<%= post.dislikes %>
      </div>
      <span>
	Postado às
	<%= post.created_at.strftime("%H:%M - %d/%m/%Y") %>
      </span>
      <span>
	por
	<%= post.user ? post.user.name : "Usuário Anônimo" %>
      </span>
    </div>
  </div>
<% end %>
<%= paginate @posts %>
